body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}
.perfil {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
.Perfil2{
display: flex;
justify-content: center; /* Centra horizontalmente */
align-items: center; /* Centra verticalmente */
margin: 0;
}

.img{
    width: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: gallary 20s linear infinite;
    cursor: pointer;

}
.imgs {
    height: 350px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
}

.container {
    position: relative;
}

.heart {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
    transform: rotate(-50deg);
    animation: heartbeat 1s infinite;
}

.heart::before,
.heart::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}

.heart::before {
    top: -50px;
    left: 0;
}

.heart::after {
    left: 50px;
}

.flower {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: pink;
    border-radius: 50%;
}

.flower-2 {
    top: -20px; 
    left: -20px; 
}

.flower::before,
.flower::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: pink;
    border-radius: 50%;
}

.flower::before {
   top:-10px; 
   left:-10px; 
}

.flower::after {
   top:-10px; 
   left:-10px; 
}
