.SVerde {
    background-color: rgb(68, 96, 255);
}

.Body 
{
    border: 14cap;
    padding: 10px; 
    border-radius: 8px 8px 0 0;
    @media (max-width: 600px) {
        .container {
            background-color: lightblue; /* Cambia el fondo en pantallas pequeñas */
        }
    }
    
    @media (min-width: 601px) {
        .container {
            background-color: lightgreen; /* Cambia el fondo en pantallas más grandes */
        }
    }
}