.SVerde {
    background-color: rgb(143, 250, 116);
}

.Body 
{
    border: 14cap;
    padding: 10px; 
    font-size: 2em;
    border-radius: 8px 8px 0 0;
    background-color: rgb(226, 243, 243);
    @media (max-width: 600px) {
        .container {
            background-color: lightblue; /* Cambia el fondo en pantallas pequeñas */
        }
    }
    
    @media (min-width: 601px) {
        .container {
            background-color: lightgreen; /* Cambia el fondo en pantallas más grandes */
        }
    }
}