.Body
{
    align-items: center;
    justify-content: flex-start;
    margin: 10;
    background-color: rgb(65, 58, 58);
}
.Centrar-Titulo
{
    text-align: center;
    background-color: aliceblue;
}

.container { /* DIVIDIMOS EN COLUMNAS*/
    display: flex; /* Usa flexbox para dividir el espacio */
    height: 9vh; /* Altura completa de la ventana */
    margin-bottom: -20px;
    justify-content: space-between;
    align-items: center;
}
.Contorno {
    width: 100%;
    max-width: 1080px;
    margin: 20px auto;
    background-color: #720072;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px; /* FORMA REDONDA*/
}
.items
{    
    .item1
    {
        background-color: rgb(224, 223, 255);
        width: 35%; /* Toma el 50% del ancho */
    }
    .lab1
    {
        background-color: rgb(239, 179, 255);
        width: 8%;
    }
    .lab2
    {
        background-color: rgb(255, 0, 200);
        width: 8%;
    }
    .lab3
    {
        background-color: rgb(255, 160, 235);
        width: 8%;
    }
    .parcial1
    {
        background-color: rgb(0, 4, 255);
        width: 8%;
    }
    .parcial2
    {
        background-color: rgb(255, 0, 200);
        width: 8%;
    }
    .parcial3
    {
        background-color: rgb(255, 160, 235);
        width: 8%;
    }
    .repo
    {
        background-color: rgb(0, 4, 255);
        width: 8%;
    }
    .NF
    {
        background-color: rgb(255, 0, 200);
        width: 8%;
    }
    .oculto {
        display: none; /* Oculta los elementos por defecto */
    }
}
.Oculto {
    display: none; /* Oculta los elementos por defecto */
}

.grip-container
{
    display: grid;
    grid-column: 
    repeat(auto-fill, minmax(100px), 1fr);
    grid-gap: 10px;
    padding: 10px;
    background-color: aqua;
}

.grid-item
{
    text-align: center;
    padding: 20px;
}

.ContornoOriginal{
    display: grid;
    grid-template-rows: 80px auto 1fr 50px;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100vh;
    grid-template-areas: 
    "header header header"
    "left-aside banner right-aside"
    ;
    grid-gap: 10px; padding: 10px;
    font-weight: 600; font-size: 20px;

    @media (max-width: 678px)
    {
        .ContornoAndroid
        {
            grid-template-rows: 50px 50px 50px 1fr 50px 50px 50px;
            grid-template-areas: 
            "header"
            ;
        }
    }
}